


body {
  margin: 0;
  overflow: hidden;
  font-family: "Computer Modern Serif", sans-serif;
  font-size: 1.5rem;
  background: rgb(50,50,50);
}


.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 30px 1fr 30px 100px;
  gap: 10px;

  padding: 10px;
  box-sizing: border-box;
}
/*
.container div {
  padding: 10px;
  border: 1px solid #000;
}
*/

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-weight: bold;
  color: white;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


.content-large {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: auto;
}

.footer {
  grid-column: 1/3;
  grid-row: 4/5;
  color: white;
}

.xlabel {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
  color: white;
}

.ylabel {
  grid-column: 1/2;
  grid-row: 2/3;
  transform: rotate(180deg);
  /*margin-left: 200px;*/
  writing-mode: vertical-rl;
  text-align: center;
  width: 100% !important;
  height: 100% !important;
  color: white;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  /*background: linear-gradient(90deg, rgb(214,214,214), 60%, rgb(214,214,214) 60%);*/
  background: rgb(20,20,20);
  outline: none;
  opacity: 0.7;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: rgb(255,0,0);
  border-radius: 50%;
  cursor: pointer;
  outline: gray auto;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}